<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ucla.nesl.notificationpreference">

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.COARSE_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION" />

    <application
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="Nurture"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.main.MainActivity"
            android:label="Nurture Portal">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.OpeningActivity"
            android:label="Nurture - Welcome!" />
        <activity
            android:name=".activity.ConfigurePlaceActivity"
            android:label="Place Update" />
        <activity
            android:name=".activity.history.ResponseHistoryActivity"
            android:label="Task List" />
        <activity
            android:name=".activity.TaskActivity"
            android:label="Short Question" />
        <activity
            android:name=".activity.DebugActivity"
            android:label="Debug Panel" />

        <service
            android:name=".service.TaskSchedulingService"
            android:enabled="true"
            android:exported="false" />
        <service
            android:name=".sensing.motion.MotionActivityProxyIntentService"
            android:exported="false" />
        <service
            android:name=".sensing.location.LocationProxyIntentService"
            android:exported="false" />

        <receiver
            android:name=".alarm.AlarmProxyReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".notification.receiver.NotificationButtonActionProxyReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".notification.receiver.NotificationInlineTextProxyReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".notification.receiver.NotificationDismissedProxyReceiver"
            android:enabled="true"
            android:exported="false" />
        <receiver
            android:name=".boot.BootEventReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAJWkNHdCCaf0OsHUBJPdPzCLOvOSZG090" />
    </application>

</manifest>