# local database, files, etc
local_data/

# site secret
notification/config.py

# Compiled objects
*.o
*.pyc
__pycache__

# Production static files
/static/

# analysis code
internal_*.ipynb

# prod settings
notification_uwsgi.ini
prod_manual_server.txt
prod_manual_ssl.txt
