{% extends 'nurture/base.html' %}
{% load staticfiles %}

{% block css %}
  <link href="{% static "nurture/sidebar.css" %}" rel="stylesheet">
  <link href="{% static "nurture/custom.css" %}" rel="stylesheet">
  {% block page-specific-css %}
  {% endblock %}
{% endblock %}

{% block js %}
  {% block page-specific-js %}
  {% endblock %}
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col-md-2">
      <div class="profile-sidebar" style="position:fixed; height:100%; width:15%; min-width:150px; text-align:center; padding-top:20px;">
        <div class="profile-usermenu">
          <ul class="nav nav-bar">
            {% block sidebar-content %}
              <li class="{% block courses-active %}{% endblock %}"><a href="{% url 'homepage' %}">Courses</a></li>
            {% endblock %}
          </ul>
        </div>
      </div>
      <!--END SIDEBAR-->
    </div>
    <!--END COLUMN-->
    <!--START COLUMN-->
    <div class="col-md-10" style="margin-left:15%; width:85%">
      <!--MAIN CONTENT-->
      {% block main-content %}
      {% endblock %}
      <!--END MAIN CONTENT-->
    </div>
    <!--END COLUMN-->
  </div>
  <!--END ROW-->
{% endblock %}
