{% extends 'nurture/base.html' %}
{% load staticfiles %}
{% load bootstrap3 %}
{% load util_tags %}

{% block content %}
  <div class="main-content">

    <h2 class="page-header">User list</h2>

    <form action="." method="post" class="form">
      <div class="table-responsive">
        {% csrf_token %}
        <input type="hidden" name="user-list" value="{{user_list}}">
        <table class="table table-striped table-hover table-sm">
          <tr>
            <thead class="thead-default">
              <th>Code</th>
              <th>Join Date</th>
              <th>User Name</th>
              <th>Status</th>
              <th>Learning Agent</th>
            <thead>
          </tr>
          {% for user in users %}
            <tr>
              <td>{{user.code}}</td>
              <td>{{user.created_time}}</td>
              <td><input type="text" name="{{user.code}}-name" value="{{user.name}}"></td>
              <td>{% select_html_tag_user_specific user 'status' status_options user.status %}</td>
              <td>{% select_html_tag_user_specific user 'agent' learning_agent_options user.learning_agent %}</td>
            </tr>
          {% endfor %}
        </table>
      </div>

      <hr/>
      <input class="btn btn-primary" type="submit" value="Confirm Changes" />
    </form>

  </div>
{% endblock %}
