{% extends 'nurture/base.html' %}
{% load staticfiles %}
{% load response_tags %}
{% load time_tags %}
{% load util_tags %}


{% block css %}
  <link href="{% static "nurture/response/response.css" %}" rel="stylesheet">
{% endblock %}

{% block content %}
  <div class="main-content">

    <h2 class="page-header">Network Requests And User Responses - {% format_user_name_code user %}</h2>

    <h4>5-minute view</h4>
    {% visualize_response_history_div responses 300 '%H:%M' %}

    <h4>Hourly view</h4>
    {% visualize_response_history_div responses 3600 '%b. %e, %l%P' %}

    <h4>Daily view</h4>
    {% visualize_response_history_div responses 86400 '%b. %e' %}

    <h3>User info</h3>
    <hr/>
    <p><span style="font-weight:bold">Learning policy: </span>{{user.get_learning_agent_display}}</p>
    <p>
      <span style="font-weight:bold">Join date: </span>
      {{user.created_time}} ({% time_since_flag_anomaly user.created_time 10000000 %})
    </p>
    <p><span style="font-weight:bold">Status: </span>{{user.get_status_display}}</p>

    <h3>Raw Data</h3>
    <hr/>
    <p style="white-space:pre;font-size:12;font-family:monospace">{% show_response_raw_content responses %}</p>

    <hr/>
    <a class="btn btn-primary" href="{% url 'dashboard-homepage' %}" style="width:100px">Back</a>
  </div>
{% endblock %}
